body {
  font-family: -apple-system, BlinkMacSystemFont, Sergoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif; padding: 0;
  margin: 0;
  background: #4b367c;
}

h1 {
  /*color: #fff;*/
  color: #4b367c;  
}

#app {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  background: pink;
  align-items: center;

}

#filterBox {
  display: flex;
}

.userBox {
  display: flex;
  width: 55vw;
  justify-content: space-between;
  background: purple;
}

.avatar {
  border-radius: 50%;
  background-color: red;
  width: 100px;
  height: 100px;

}

.userText {
  width: 100px;
  height: 100px;
  background-color: yellow;
}

.statusIcon {
  width: 100px;
  height: 100px;
  background-color: green;
}