body {
  font-family: -apple-system, BlinkMacSystemFont, Sergoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif; padding: 0;
  margin: 0;
  background: #4b367c;
}

h1 {
  /*color: #fff;*/
  color: #4b367c;  
}

#app {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  height: 100vh;
  /*border-radius: 22px;*/
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#filterBox {
  display: flex;
}

.filter {
  width: 20vw;
  border: none;
  /*margin: 2px;*/
  height: 30px;
  background-color: #4b367c;
  color: #fff;
}

.userBox {
  display: flex;
  border: solid #4b367c;
  border-radius: 12px;
  width: 55vw;
  justify-content: space-between;
  align-items: center;
  /*background: #ff0;*/
  padding: 15px;
  margin-top: 15px;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

img {
  border-radius: 50%;
}
.userText {
  width: 25vw;; /* stretch? */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100px;
}
.userName {
  /*background: blue;  */
  margin: 5px;
  font-size: xx-large;
}

.playing {
  margin: 5px;

}
.statusIcon {
  width: 100px;
  height: 100px;
  background-color: green;
}